In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
!pip install scikit-learn
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

Requirement already satisfied: scikit-learn in ./anaconda3/lib/python3.10/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (2.2.0)

In [2]:
loans = pd.read_csv('loan_data.csv')

In [3]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
loans.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [5]:
loans.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [6]:
cat_feats = ['purpose']

In [7]:
final_data = pd.get_dummies(loans,columns=cat_feats,drop_first=True)

In [8]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   credit.policy               9578 non-null   int64
 1   int.rate                    9578 non-null   float64
 2   installment                 9578 non-null   float64
 3   log.annual.inc              9578 non-null   float64
 4   dti                         9578 non-null   float64
 5   fico                        9578 non-null   int64
 6   days.with.cr.line           9578 non-null   float64
 7   revol.bal                   9578 non-null   int64
 8   revol.util                  9578 non-null   float64
 9   inq.last.6mths              9578 non-null   int64
 10  delinq.2yrs                 9578 non-null   int64
 11  pub.rec                     9578 non-null   int64
 12  not.fully.paid              9578 non-null   int64
 13  purpose_credit_card         9578 non-null   uint8
 14  purpose_debt_consolidation  9578 non-null   uint8
 15  purpose_educational         9578 non-null   uint8
 16  purpose_home_improvement    9578 non-null   uint8
 17  purpose_major_purchase      9578 non-null   uint8
 18  purpose_small_business      9578 non-null   uint8
dtypes: float64(6), int64(7), uint8(6)
memory usage: 1.0 MB

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = final_data.drop('not.fully.paid',axis=1)
y = final_data['not.fully.paid']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [11]:
# Datenbereinigung und Vorbereitung
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# Ergebnisse anzeigen
print("Trainingsdaten:", X_train_scaled.shape)
print("Testdaten:", X_test_scaled.shape)

Trainingsdaten: (6704, 18)
Testdaten: (2874, 18)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

def train_and_evaluate_knn(X_train, y_train, X_test, y_test, k=3):
    # Trainieren des k-NN Klassifikators
    knn_classifier = KNeighborsClassifier(n_neighbors=k)
    knn_classifier.fit(X_train, y_train)

    # Vorhersagen auf den Testdaten
    y_pred = knn_classifier.predict(X_test)

    # Berechnung der Genauigkeit
    accuracy = accuracy_score(y_test, y_pred)

    return accuracy

In [14]:
# Aufruf der Funktion
k = 5  # Anzahl der Nachbarn im k-NN Algorithmus
accuracy = train_and_evaluate_knn(X_train_scaled, y_train, X_test_scaled, y_test, k)
print(f"Genauigkeit des k-NN-Modells mit k={k}: {accuracy:.2f}")

Genauigkeit des k-NN-Modells mit k=5: 0.83

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import time
import logging

In [16]:
# Implementierung von my_logger und my_timer
def my_logger(log_message):
    logging.info(log_message)

def my_timer(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        execution_time = end_time - start_time
        my_logger(f"{func.__name__} executed in {execution_time:.4f} seconds")
        return result
    return wrapper

In [17]:
# Beispiel-Funktion zur Klassifikation
@my_timer
def train_and_evaluate_knn(X_train, y_train, X_test, y_test, k=3):
    knn_classifier = KNeighborsClassifier(n_neighbors=k)
    knn_classifier.fit(X_train, y_train)
    y_pred = knn_classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    return accuracy

In [18]:
if __name__ == '__main__':

    # Aufrufen der train_and_evaluate_knn-Funktion
    k = 5  # Wählen Sie die Anzahl der Nachbarn
    accuracy = train_and_evaluate_knn(X_train, y_train, X_test, y_test, k)

    # Ausgabe der Genauigkeit
    print(f"Genauigkeit des k-NN-Modells: {accuracy}")

Genauigkeit des k-NN-Modells: 0.8215031315240083

In [19]:
import unittest
import logging
from sklearn.metrics import confusion_matrix

class TestKNNClassifier(unittest.TestCase):

    def setUp(self):
        self.k = 5
        self.knn_classifier = KNeighborsClassifier(n_neighbors=self.k)
        self.knn_classifier.fit(X_train_scaled, y_train)
        self.test_data = X_test_scaled[:100]  # Beispiel: Verwenden Sie die ersten 100 Testdaten

    def test_predict_accuracy(self):
        y_pred = self.knn_classifier.predict(self.test_data)
        accuracy = accuracy_score(y_test[:100], y_pred)
        self.assertTrue(accuracy > 0.7)  # Beispielprüfung für Genauigkeit
        
        # Speichern der Testdaten in einer CSV-Datei
        test_data_df = pd.DataFrame(self.test_data)
        test_data_df.to_csv('test_data.csv', index=False)
        
        confusion = confusion_matrix(y_test[:100], y_pred)
             
        # Ausgabe der Genauigkeit und der Verwirrungsmatrix
        print(f"Accuracy: {accuracy}")
        print("Confusion Matrix:")
        print(confusion)
        
        self.assertTrue(confusion[0, 0] > 10)
    
    def test_train_and_evaluate_knn(self):
        accuracy = train_and_evaluate_knn(X_train_scaled, y_train, X_test_scaled, y_test, self.k)
        
        # Ausgabe der Genauigkeit
        print(f"Genauigkeit: {accuracy}")
        
        self.assertTrue(accuracy > 0.7)  # Beispielprüfung für Genauigkeit
        
    @my_timer
    def test_fit_runtime(self):
        start_time = time.time()
        knn_classifier = KNeighborsClassifier(n_neighbors=self.k)
        knn_classifier.fit(X_train_scaled, y_train)
        end_time = time.time()
        elapsed_time = end_time - start_time
        
        # Annahme einer repräsentativen Laufzeit (z. B. 100 Sekunden)
        representative_runtime = 100
        
        ratio = elapsed_time / representative_runtime
        
        # Sicherstellen, dass der Grenzwert nicht überschritten wird (z.B. 120%)
        max_ratio = 1.2  
        
        # Ausgabe der Ergebnisse
        print(f"Laufzeit: {elapsed_time} Sekunden")
        print(f"Vergleich mit repräsentativer Laufzeit: {ratio:.2f}")
        
        if ratio <= max_ratio:
            print("Laufzeit liegt im akzeptablen Bereich.")
        else:
            print("Laufzeit überschreitet den akzeptablen Bereich.")
            self.fail("Laufzeit überschreitet den akzeptablen Bereich.")

# Konfiguration des Loggings
logging.basicConfig(filename='example.log', level=logging.INFO)

# Laden der Testsuite
suite = unittest.TestLoader().loadTestsFromTestCase(TestKNNClassifier)

# Ausführen der Testsuite
unittest.TextTestRunner(verbosity=3).run(suite)

test_fit_runtime (__main__.TestKNNClassifier) ... ok
test_predict_accuracy (__main__.TestKNNClassifier) ... ok
test_train_and_evaluate_knn (__main__.TestKNNClassifier) ... ok

----------------------------------------------------------------------
Ran 3 tests in 0.173s

OK

Laufzeit: 0.0009789466857910156 Sekunden
Vergleich mit repräsentativer Laufzeit: 0.00
Laufzeit liegt im akzeptablen Bereich.
Accuracy: 0.86
Confusion Matrix:
[[86  4]
 [10  0]]
Genauigkeit: 0.8298538622129437